@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

@media screen and (max-width: 991px) {
    .row{
        width: 88% !important;
    }
}

@media screen and (max-width: 767px) {
    .row{
        flex-direction: column;
    }

    .card-summary{
        left: 0% !important;
    }
}

@media screen and (max-width: 575px) {
    .container{
        width: fit-content !important;
        height: 100vh !important;
    }
}

.row{
    width: 70%;
}

.container{
    align-items: center;
    height: 100vh;
    width: 100vh;
}

.card-result{
    text-align: center;
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.card-summary{
    background-color: white;
    left: -5%;
    z-index: -1;
    box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
    border-radius: 20px;
}

.card-summary-title{
    font-size: 18px;
    font-weight: 700;
}

.card-result, .card-summary{
    height: 100%;
    border: none;
    border-radius: 20px;
}

.card-title, .card-score-rank, .card-score-description, .score-max, .score{
    color: white;
    font-family: 'Hanken Grotesk', sans-serif;
}

.card-summary-title{
    color: black;
}

.card-body{
    padding: 20px 40px;
}

.card-score{
    background-image: linear-gradient(180deg, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0.3));
    /* border-radius: 50%; */
}

.score-big{
    font-size: 64px !important;
    font-weight: 800 !important;
    opacity: 1 !important;
}

.card-score-rank{
    margin-top: 60px;
    font-size:22px;
    font-weight: 500;
}

.card-title{
    font-size: 18px;
    opacity: 0.7;
}

.card-score-description, .score-small{
    font-size: 13px;
    opacity: 0.7;
}

.row>*{
    padding: 0;
}

.list-summary{
    flex-direction: column;
}

.side-score{
    float: right;
    font-weight: 600;
    color: hsl(224, 30%, 27%) !important;
}

button{
    width:100%;
    background-color: hsl(224, 30%, 27%);
    border: none;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
    padding: 12px;
}

.box{
    font-size: 14px;
    padding: 10px;
    border-radius: 10px;
}

.reaction, .memory, .verbal, .visual{
    font-weight: 500 !important;
    font-size: 14px;
}

.reaction{
    background-color: hsla(0, 100%, 67%, 0.1);
    color: hsla(0, 100%, 67%, 1);
}

.memory{
    background-color: hsla(39, 100%, 56%, 0.1);
    color: hsla(39, 100%, 56%, 1);
}

.verbal{
    background-color: hsla(166, 100%, 37%, 0.1);
    color: hsla(166, 100%, 37%, 1);
}

.visual{
    background-color: hsla(234, 85%, 45%, 0.1);
    color: hsla(234, 85%, 45%, 1);
}

.logo{
    margin-right: 5px;
}

.muted{
    opacity: 0.4 !important;
}